body {
	background-image: url(../img/fon.jpg);
position:relative;
padding: 0px  0px 0px 0px;
  width: 100%;
  height: 100%;
  }
  
.block {
  width: 1040px;
  height: 824px;
  margin: 100px 200px 100px 400px;
  border: 2px ;
  border-radius: 30px;
  position: center;
  font-size: 30px;
   background-color: white;
}

.navigation
{margin-left: 50px;
margin-top: 50px;
	font-weight: medium;
	text-align: left;
font-family: Roboto;
font-size: 1.5em;
padding-top: 10px;
letter-spacing: 0.15%;
word-spacing: 50px;

}
.navigation>a{
	color:#686868;
}

.forma{
 padding-left: 220px;
 padding-top: 60px;
 padding-right: 200px;
 padding-bottom: 60px;
	 line-height: 4;
	
}

input{
	 border-radius: 10px;
		font-size:24px;
	width: 579px;
	height: 80px;
	padding-left: 15px;
	
}

button{ border: none;
	font-size:30px;
	width:600px;
	height: 80px;
background-color: #4786FF;
margin-left: 200 px;
 border-radius: 10px;
 color: white;
}

button:hover{
	color:#4786FF;
	background-color: #FFFFFF;
	border: 2px solid #4786FF;
	transition: all.6s ease;
-ms-transition: all.6s ease;
-o-transition: all.6s ease;
-moz-transition: all.6s ease;
-webkit-transition: all.6s ease;
}

.navigation>a:hover{
	color:#4786FF;
	background-color: #FFFFFF;
	transition: all.6s ease;
-ms-transition: all.6s ease;
-o-transition: all.6s ease;
-moz-transition: all.6s ease;
-webkit-transition: all.6s ease;
}

.opov1{
	border: 3px;
	background:white;   
	margin-bottom: 200px;
	margin-left: 870px;
	margin-right: 0px;
	margin-top: -80px;
	height:120px;
	width:585px;
display: none;
text-align:center;
vertical-align:center;
border: 2px solid black;
border-radius:30px;
}

